<div>

  {{#each family}}
  
  <div class='fr-color-family'>
    <h1>{{ name }}</h1>
  {{#each color}}
    <div class="fr-color {{ var }}">
      <p>{{ name }}: {{ hex }}</h2>
      <p>Contrast rating: {{ contrast }}</p>
    </div>
  {{/each}}  
  
  </div>
  {{/each}}
  
</div>
